.card{
    border: 1px solid rgba(172, 169, 169, 0.822);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.192) ;
    padding:20px;
    margin:10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}
.card .card-image{
    max-width: 60%;
    height: auto;
    border-radius: 20%;
    margin-bottom: 10px;
}
.card h2 {
    font-family: Arial, sans-serif;
    font-size: 4em;
    margin:0;
    color: rgb(0, 0, 0);

}

.welcome{
    background-color: rgb(12, 224, 29);
    color: white;
    padding: 10px;
    margin: 0;
    border-radius: 5px;

}
.login-prompt{
    background-color: rgb(236, 29, 29);
    color: white;
    padding:10px;
    margin: 0;
    border-radius: 5px;
}

.list-category{
    font-size: 2.5em;
    font-weight: bold;
    color: blueviolet;
    text-align: center;
    border: 3px solid;
    border-radius: 5px;
    background-color: rgb(85, 153, 153);
    margin-bottom: 10px;
}
.list-items{
    font-size: 2em;
    list-style: none;
    color: rgb(32, 58, 7);
    text-align: center;
    margin: 0;

}
.list-items li:hover{
    color: rgb(14, 27, 214);

    cursor: pointer;

}

.counter-box{
    text-align: center;
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
    background-color: aqua;
    font-size: 2em;
}
.digit{
    font-size: 3em;
}
.counter-button{
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
}
.counter-button:hover{
    cursor: pointer;
    background-color: rgb(69, 17, 117);
}
.color-container{
    align-items: center;
    text-align: center;
    font-size: 2.5em;
    height: 200px;
    width: 200px;
    border: 2px solid burlywood;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.delete-btn:hover{
    cursor: pointer;
}
.box{
    border:2px solid black;
    padding: 15px 20px;
}

.control-buttons{
    padding: 5px;
}
.control-buttons button{
    font-weight: bold;
    margin: 0 10px;
    padding: 5px 10px;
    display: inline;
    align-items: stretch;
    background-color: aqua;
    border: 2px solid rgb(13, 126, 126);
    border-radius: 5px;
}
.control-buttons button:hover{
    background-color: rgb(7, 78, 78);
}

.parent-div{
    border: 2px solid black;
    padding: 10px;
}
.child-div{
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
}